/* ANY WINDOW PANEL */
.panel {
    -fx-background-color: #E6CCFF;
}

/**
 * APP MENU
 */

#menuBar, #menuBar .menu, #menuBar .menu-item {
    -fx-background-color: #80BFFF;
}

#menuBar .label, .noButton {
    -fx-text-fill: #FFFFFF;
}

#menuBar .menu {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#menuBar .menu:hover, #menuBar .menu-item:hover {
    -fx-background-color: #E6CCFF;
}

#welcomeMessage, .formTitle {
    -fx-font-size: 40;
}

/* ANY CONFIRMATION POP-UP "YES" BUTTON AND ANY FORM VALIDATION BUTTON */
.yesButton {
    -fx-font-weight: bold;
    -fx-background-color: #00FF00;
}

/* ANY CONFIRMATION POP-UP "NO" BUTTON AND ANY FORM CANCELING BUTTON */
.noButton {
    -fx-font-weight: bold;
    -fx-background-color: #FF0000;
}

/* ANY CONFIRMATION POP-UP BUTTON */
.confirmationButtonsHBox {
    -fx-spacing: 30;
}

/* ANY FORM VALIDATION AND CANCELING BUTTON */
.formButtonsHBox {
    -fx-spacing: 280;
}

/**
 * ANY FORM
 */

.formTitle {
    /*TOP, RIGHT, BOTTOM, LEFT*/
    -fx-padding: 0 0 25 0;
}

.formLabel {
    -fx-font-size: 25;
}

.formField, .listeningLabel, .listeningTitle {
    -fx-font-size: 18;
}

/**
 * ANY LIST
 */

.table-column, .table-cell {
    -fx-font-size: 18;
    -fx-alignment: BASELINE_CENTER;
    -fx-border-width: 0.5px;
    -fx-border-color: black;
}

.table-view {
    -fx-selction-bar: #0080FF;
    -fx-selection-bar-non-focused: #0080FF;
}

/**
 * ANY LISTENING WINDOW
*/

.listeningTitle {
    -fx-font-weight: bold;

    /*TOP, RIGHT, BOTTOM, LEFT*/
    -fx-padding: 0 0 10 0;
}

.listeningLengthHBox {
    -fx-spacing: 15;
}