#menuPane, #aboutPanel, #appCloseConfirmationPanel, #musicLengthErrorPanel, #musicValidationSuccessPanel, #musicArtistErrorPanel {
    -fx-background-color: #E6CCFF;
}

#menuBar, #menuBar .menu, #menuBar .menu-item {
    -fx-background-color: #80bfff;
}

#menuBar .label, .noButton {
    -fx-text-fill: #FFFFFF;
}

#menuBar .menu {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#menuBar .menu:hover, #menuBar .menu-item:hover {
    -fx-background-color: #E6CCFF;
}

#welcomeMessage, .formTitle {
    -fx-font-size: 40;
}

.yesButton {
    -fx-font-weight: bold;
    -fx-background-color: #00FF00;
}

.noButton {
    -fx-font-weight: bold;
    -fx-background-color: #FF0000;
}

#appCloseConfirmationButtonsHBox {
    -fx-spacing: 30;
}

.formButtonsHBox {
    -fx-spacing: 280;
}

.formTitle {
    /*TOP, RIGHT, BOTTOM, LEFT*/
    -fx-padding: 0 0 25 0;
}

.formLabel {
    -fx-font-size: 25;
}

.formField {
    -fx-font-size: 18;
}

#musicValidationSuccessPanel {
    -fx-padding: 0 0 0 10;
}
