.panel {
    -fx-background-color: #E6CCFF;
}

#menuBar, #menuBar .menu, #menuBar .menu-item {
    -fx-background-color: #80BFFF;
}

#menuBar .label, .noButton {
    -fx-text-fill: #FFFFFF;
}

#menuBar .menu {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#menuBar .menu:hover, #menuBar .menu-item:hover {
    -fx-background-color: #E6CCFF;
}

#welcomeMessage, .formTitle {
    -fx-font-size: 40;
}

.yesButton {
    -fx-font-weight: bold;
    -fx-background-color: #00FF00;
}

.noButton {
    -fx-font-weight: bold;
    -fx-background-color: #FF0000;
}

#appCloseConfirmationButtonsHBox {
    -fx-spacing: 30;
}

.formButtonsHBox {
    -fx-spacing: 280;
}

.formTitle {
    /*TOP, RIGHT, BOTTOM, LEFT*/
    -fx-padding: 0 0 25 0;
}

.formLabel {
    -fx-font-size: 25;
}

.formField {
    -fx-font-size: 18;
}

#musicValidationSuccessPanel {
    -fx-padding: 0 0 0 10;
}

.table-column, .table-cell{
    -fx-font-size: 18;
    -fx-alignment: BASELINE_CENTER;
    -fx-border-width: 0.5px;
    -fx-border-color: black;
}

.table-view {
    -fx-selction-bar: #0080FF;
    -fx-selection-bar-non-focused: #0080FF;
}